* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}

#sub{
display: flex;
border-bottom: solid 1px rgb(221, 221, 221);
gap: 100px;
height: 5vh;
align-items: center;
justify-content: space-around;
}

.header_contact
{
    display: flex;
    gap:1.5em
}


#svg {
    gap: 1em;
    margin-top: 10px;
    margin-right: 50px;
    display: flex;
    
}

#svg a{
    fill: darkblue;
}

#svg :hover{
fill: black;
transition: 0.3;
}

#chimper p{
    font-weight: 400;
    font-size: 40px;
}

ul{
    display: flex;
    list-style: none;
}

#Cabecalho{
display: flex;
justify-content: space-around;
height: 6vh;
}

#List {
    gap: 2em;
    padding-top: 15px ;
    margin: 0;
    padding: 0;
    list-style: none;
}

#List a {
text-decoration: none;
}

#List :hover{
    transition: 0.3;
    color: blue;
}

#List li{
    position: relative;
    padding-top: 10px;
}

#Dropdown:hover #SubDropdown{
    visibility: visible;
}
#SubDropdown{
    position: absolute;
    background-color: white;
    height: fit-content;
    width: 8vw;

    left: 10px;
    top: 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    
    z-index: 999;
    visibility: hidden;

}
#SubDropdown li{
    height: 30px;
}


#Are{
    
    text-align: center;
    position: absolute;
    top: 50%;
    left: 35%;
    color: white;
    font-size: 24px;
}

#Are h1{
    font-weight: 300;
}

#We{
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 59%;
    left: 44%;
    color: gray;
}

#US{
    text-align: center;
    position: absolute;
    top: 70%;
    left: 48%;
    color: white;
    font-size: 24px;
}



button{
    transition: 0.3s;  
    border-radius: 2em;
    height: 53px;
    position: absolute;
    top: 67%;
    left: 47%;
}

#bottom:hover{
background-color: rgb(35, 35, 146);
}

#bottom{
 background-color: rgb(31, 31, 189);
 width: 115px; 
 color: white;
 font-size: 14px;
 border: none;
}
 
#IMG{
filter: brightness(80%);
background-position: center;
width: 99vw;
height: 50vh;
background-image: url(https://preview.colorlib.com/theme/chimper/images/hero_1.jpg);
}



#title{
    text-align: center;
    position: absolute;
    top: 27%;
    left: 45%;
    color: white;
    font-size: 24px;
}

#title h1{
    font-weight: 300;
}

.grid-item {
    max-width: 330px;
}

.grid-item img{
   width: 100%;
}

.grid-container{
    width: 56vw;
    margin: 70px auto;
    justify-items: center;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    row-gap: 20px; 
}

#titulo{
    font-weight: 100;
    font-size: 30px;
    margin-top: 200px;
    text-align: center;
}

#linha2{
    background-color: rgb(46, 12, 196);
    height: 5px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 850px ;
    width: 10%;
}

#textcenter{
    font-size: 25px;
    text-align: center;
    margin-top: 80px;
}

.Container4{
    margin-bottom: 100px;
}

#imghomem{
    margin-bottom: 50px;
    margin-top: 30px;
    width: 60px;
    margin-left: 45%;
    border-radius: 3em;
}

#texthomem{
    text-align: center;
    margin-left: 150px;
   
    margin-top: -90px;
}

.Sub_menu{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(53, 53, 53);
    width: 100%;
    height: 693px;
    }
    
    .Sub_menu p{
    font-weight: 700;
    margin-top: 40px;
    padding-top: 20px;
    }
    
    #class{ 
    color: white;
    }
    
    #sit{
        color: gray;
    }
    
    #Amet{
        color: white;
        margin-top: 55px;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    
    #Amet a{
    text-decoration: none;
    color: grey;
    
    }
    #Amet span a{
        color: white;
        text-decoration: none;
    }
    
    #Amet > li
    {
        gap:2em;
    }
    
    #Amet li:hover{
    transition: 0.3;
    color: white;
    }
    
    #Feak{
        color: white;
        font-weight: 800;
    }
    
    
    #SVG{
        fill: gray;
        margin-top: 30px;
        gap: 3em;
        display: flex;
        justify-content: space-evenly;
    }

    input{
        padding-left: 20px;
        color: white;
        outline: none;
        border: 1px solid rgb(177, 177, 177);
        margin-top: 23px;
        background-color: rgb(53, 52, 52);
        border-radius: 2em;
        width: 200px;
        height: 40px;
    }
    
    form{
        position: relative;
    }
    
    form  button{
    color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
    background-color:  rgba(17, 0, 255, 0.863);
    top: 20px;
    transform: translate(-100%,0%);
    left: 100%!important;
    position: absolute;
    width: 60px;
    height: 44px;
    }
    
    
    #subfdp{
        margin-left: auto;
        margin-right: auto;
        border: 1px solid rgb(83, 83, 83);
        width: 70%;
        height: 1px;
        margin-top: -319px;
    }
    
    #ALL{
    color: rgb(177, 177, 177);
    margin-top: 50px;
    margin-left: 50%;
    transform: translatex( -30%);
    }



